html{
/* Блочная модель */
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body{
/* Блочная модель */
	margin: 0px;
	padding: 0px;
/* Типографика */	
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
/* Оформление */
	color: #000000;	
}

a{
/* Оформление */
	text-decoration: none;
}

img{
/* Блочная модель */
	max-width: 100%;
	height: auto;
}

.filters-name fieldset{
/* Блочная модель */
	margin: 0px;
	padding: 0;
/* Оформление */
	border: none;
}

.logo:hover,
.logo:focus{
/* Оформление */
	opacity: 0.8;	
}

.logo:active{
/* Оформление */
	opacity: 0.3;	
}

.menu,
.sorting,
.catalog-list,
.paginator-list,
.social-block ul,
.services-list,
.about-offers,
.about-plus-all,
.works{
/* Блочная модель */
	margin: 0;
	padding: 0;
/* Оформление */
	list-style: none;
}

.menu a:hover,
.menu a:focus,
.basket a:hover,
.basket a:focus{
/* Оформление */
	color: #fb565a;	
}

.menu a:link{
/* Оформление */
	color: #000000;
}

.main-navigation a:active{
/* Оформление */
	color: #a6a6a6;	
}

.button{
/* Блочная модель */	
	display: inline-block;
	min-width: 160px;
	padding: 16px 40px;
/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
/* Оформление */
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 3px;
}

.slider-btn{
/* Блочная модель */
	width: 240px;
	padding: 16px 53px;
/* Оформление */
	background-color: #fb565a;
}

.slider-btn:hover,
.slider-btn:focus{
/* Оформление */
	background-color: #e74246;
/* Разное */
	cursor: pointer;
}

.slider-btn:active{
/* Оформление */
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;
	        box-shadow: inset 0 3px 0 0 #c13135;
}

.service-btn-web{
/* Оформление */
	background-color: #fb565a;	
}

.service-btn-web:hover,
.service-btn-web:focus{
/* Оформление */
	background-color: #e74246;
/* Разное */
	cursor: pointer;	
}

.service-btn-web:active{
/* Оформление */
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;
	        box-shadow: inset 0 3px 0 0 #c13135;	
}

.service-btn-app{
/* Оформление */
	background-color: #00ca74;	
}

.service-btn-app:hover,
.service-btn-app:focus{
/* Оформление */
	background-color: #00bc6c;
	cursor: pointer;	
}

.service-btn-app:active{
/* Оформление */
	background-color: #00aa62;
	color: rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 3px 0 0 #009958;
	        box-shadow: inset 0 3px 0 0 #009958;	
}

.service-btn-pres{
/* Оформление */
	background-color: #efc84a;	
}

.service-btn-pres:hover,
.service-btn-pres:focus{
/* Оформление */
	background-color: #eab534;
/* Разное */	
	cursor: pointer;
}

.service-btn-pres:active{
/* Оформление */
	background-color: #e5a722;
	color: rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 3px 0 0 #ce961f;
	        box-shadow: inset 0 3px 0 0 #ce961f;	
}

.social-block ul{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 400px;
	min-height: 217px;	
	margin: auto;
	margin-right: 140px;
/* Типографика */
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
}

.social-btn{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 78px;
	height: 78px;
/* Типографика */
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
/* Оформление */
	background-color: #e1e1e1;
	color: #ffffff;	
	border-radius: 50% 50%;
}

.social-btn:hover,
.social-btn:focus{
/* Оформление */
	background-color: #e74246;
/* Разное */
	cursor: pointer;
}

.social-btn:active{
/* Оформление */
	background-color: #d7373b;
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;
	        box-shadow: inset 0 3px 0 0 #c13135;
}

.social-btn:active svg{
/* Оформление */
	opacity: 0.3;
}

.filter-btn{
/* Блочная модель */
	width: 260px;
	padding: 17px 89px;
/* Оформление */
	color: #000000;
	background-color:#eeeeee;
	border: none;
}

.filter-btn:hover,
.filter-btn:focus {
/* Оформление */
	background-color:#dfdfdf;
	cursor: pointer;
	outline: none;
/* Разное */
	border: none;	
}

.filter-btn:active{
/* Оформление */
	background-color:#d5d5d5;
	color: rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
	        box-shadow: inset 0 3px 0 0 #bfbfbf;
	outline: none;
	border: none;
}

.contact-btn{
/* Блочная модель */
	width: 220px;
	padding: 16px 44px;
/* Оформление */
	background-color:#fb565a; 	
}

.contact-btn:hover,
.contact-btn:focus{
/* Оформление */
	background-color:#e74246;
/* Разное */
	cursor: pointer;	
}

.contact-btn:active{
/* Оформление */
	background-color:#d7373b;
	color: rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;
	        box-shadow: inset 0 3px 0 0 #c13135;	
}

.work img{
/* Оформление */
	opacity: 0.2;
}

.work img:hover,
.work img:focus{
/* Оформление */
	opacity: 1;
}
.work img:active{
/* Оформление */
	opacity: 0.1;
}

a.work:focus{
/* Оформление */
	opacity: 1;
}

.catalog-item-btn{
/* Блочная модель */
	width: 200px;
	padding: 16px 60px;
/* Оформление */
	background-color:#fb565a;
	border: none;	
}

.catalog-item-btn:hover{
/* Оформление */
	background-color:#e74246; 
	outline: none;
	border: none;
/* Разное */
	cursor: pointer;	
}

.catalog-item-btn:active{
/* Оформление */
	background-color:#d7373b; 
	-webkit-box-shadow: inset 0 3px 0 0 #c13135; 
	        box-shadow: inset 0 3px 0 0 #c13135;
	outline: none;	
	border: none;
}

.about{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 1160px;
}

.about-us{
/* Блочная модель */
	width: 660px;
	min-height: 525px;
}

.about-caption{
/* Блочная модель */
	width: 800px;
	min-height: 195px;
	padding: 75px 140px 0px 0px; 
/* Типографика */
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.about-tagline{
/* Блочная модель */
	padding-top: 4px; 
/* Типографика */
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
/* Оформление */
	color: #283136;	
}

.about-development{
/* Блочная модель */
	padding: 37px 0px 25px 0px;
/* Типографика */
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
/* Оформление */
	text-transform: uppercase;
}

.about-offers{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	min-height: 120px;
}

.about-offers li{
/*Позиционирование*/
	position: relative;
/* Блочная модель*/ 
	padding-left: 35px;
/* Типографика */
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
/* Оформление */
	color: #283136;	
}

.about-offers li::before{
/*Позиционирование*/
	content: "";
	position: absolute;
	bottom: 10px;
	left: 1px;
/*Блочная модель*/
    width: 25px;
    height: 2px;
/*Оформление*/
	background-color: #fb565a;
}

.about-plus{
/* Блочная модель */
	width: 360px;
	min-height: 525px;
	padding-top: 40px;
}

.about-us p, 
.about-plus p{
/* Блочная модель */
	margin: 0;
}

.about-plus-advantages{
/* Блочная модель */
	padding: 31px 0px 0px 13px;
/* Типографика */
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 0.08px;
/* Оформление */
	text-transform: uppercase;
}

.about-plus-all{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding-top: 59px;
}

.about-plus-all li{
/* Блочная модель */
	padding-right: 15px;
}

.about-plus-data{
/* Типографика */
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
}

.about-plus-percent{
/* Типографика */
	font-size: 28px;
	font-weight: 700;
	line-height: 10px;
	letter-spacing: 5px;
}

.about-plus-description{
/* Блочная модель */
	display: block;
	padding-top: 20px;
/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
/* Оформление */
	color: #283136;	
}

.description-page{
/* Блочная модель */
	width: 1160px;
	min-height: 235px;
	padding-top: 71px; 
	padding-left: auto;
	padding-right: auto;
/* Типографика */
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
/* Оформление */
	background-color: #eeeeee;
}

.filter-input + label{
/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
/* Оформление */
	color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label{
/* Оформление */
	color: #4d4d4d;
}

.filter-input:disabled + label{
/* Оформление */
	opacity: 0.3;
}

.catalog-item-name{
/* Типографика */
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-align: center;
/* Оформление */
	color: #000000;
}

.main-header,
.slider-wrapper,
.slider,
.description-page-wrapper{
/* Оформление */
	background-color: #eeeeee;
}

.description-page-wrapper{
/* Оформление */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.background{
/* Оформление */
	background-color: #ffffff;
}

.main-footer{
/* Оформление */
	background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
/* Позиционирование */
	position: absolute;
/* Блочная модель */
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
/* Разное */	
	overflow: hidden;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	white-space: nowrap;
}

/* Стили для сетки*/

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container{
/* Блочная модель */
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.main-navigation{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 1160px;
	padding-top: 50px;	
}

.logo{
/* Блочная модель */
	width: 160px;
	min-height: 65px;
}

.menu{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 440px;
	min-height: 65px;
}

.menu ul{
/* Блочная модель */
	width: 100%;

}

.menu a{
/* Блочная модель */
	display: block;
	vertical-align: middle;
	padding-top: 25px;
	padding-bottom: 4px;
/* Типографика */
	color: #000000;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.menu-current a{
/* Типографика */
	color: #000000;
/* Оформление */
	border-bottom: 2px solid #fb565a;
}

.basket{
/*Позиционирование*/
	position: relative;
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 160px;
}

.basket a{
/* Блочная модель */
	display: block;
	min-height: 65px;	
	padding-top: 25px;
	padding-left: 86px;
/* Типографика */
	color: #000000;
	font-size: 16px;
	line-height: 30px;
	vertical-align: middle;
	text-transform: uppercase;	
}

.basket::after{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: 34px;
	left: 45px;
/*Блочная модель*/
    width: 15px;
    height: 16px;
/*Оформление*/
	background-image: url("../img/basket.svg");
	background-repeat: no-repeat;
 	background-position: 0 0;
}

.services-list{
/*Позиционирование*/
	position: relative;
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 1160px;
	padding-bottom: 2px;	
}

.services-list::before{
/*Позиционирование*/
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
/*Блочная модель*/
    width: 100%;
    height: 2px;
/*Оформление*/
	background-color: #eeeeee;
}

.services-item{
/*Позиционирование*/
	position: relative;	
/* Блочная модель */
	width: 31%;
	min-height: 506px;
	padding-top: 250px;
}

.services-item:nth-child(1)::before{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: 80px;
	left: 0px;
/*Блочная модель*/
    width: 300px;
    height: 146px;
/*Оформление*/
	background-image: url("../img/service-web.png");
	background-repeat: no-repeat;
 	background-position: 0 0;
}

.services-item:nth-child(2)::before{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: 80px;
	left: 0px;
/*Блочная модель*/
    width: 300px;
    height: 146px;
/*Оформление*/
	background-image: url("../img/service-app.png");
	background-repeat: no-repeat;
 	background-position: 0 0;
}

.services-item:nth-child(3)::before{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: 80px;
	left: 0px;
/*Блочная модель*/
    width: 300px;
    height: 146px;
/*Оформление*/
	background-image: url("../img/service-presentation.png");
	background-repeat: no-repeat;
 	background-position: 0 0;
}

.services-item h3{
/* Блочная модель */
	margin: 0;
	padding-bottom: 15px;
/* Типографика */
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
/* Оформление */
	text-transform: uppercase;
}

.services-item p{
/*Блочная модель*/
	margin: 0;	
	padding-right: 115px;
	padding-bottom: 35px;
	font-weight: 400;
/* Типографика */
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #283136;
}

.works{
/*Позиционирование*/
	position: relative;	
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 1160px;
	margin-bottom: 80px;
}

.works::after{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: 0;
	left: 0;
/*Блочная модель*/
    width: 100%;
    height: 2px;
/*Оформление*/
	background-color: #eeeeee;
}

.works::before{
/*Позиционирование*/
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
/*Блочная модель*/
    width: 100%;
    height: 2px;
/*Оформление*/
	background-color: #eeeeee;
}

.work{
/*Позиционирование*/
	position: relative;
/* Блочная модель */
	width: 25%;
	min-height: 183px;
}

.works-wrapper, 
.work-wrapper{
/*Позиционирование*/
	position: relative;
}

.work:nth-child(1){
/*Блочная модель*/
	padding: 65px 0px 0px 30px;
}

.work:nth-child(2){
/*Блочная модель*/
	padding: 48px 0px 0px 36px;
}

.work:nth-child(3){
/*Блочная модель*/
	padding: 67px 0px 0px 58px;
}

.work:nth-child(4){
/*Блочная модель*/
	padding: 54px 0px 0px 72px;
}

.work:nth-child(1)::after{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: 90px;
	left: 255px;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
/*Блочная модель*/
    width: 52px;
    height: 2px;
/*Оформление*/
	background-color: #eeeeee;
}

.work:nth-child(2)::after{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: 90px;
	left: 265px;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
/*Блочная модель*/
    width: 52px;
    height: 2px;
/*Оформление*/
	background-color: #eeeeee;
}

.work:nth-child(3)::after{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: 90px;
	left: 275px;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
/*Блочная модель*/
    width: 52px;
    height: 2px;
/*Оформление*/
	background-color: #eeeeee;
}

.social-block{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 1160px;
}

.social-block-slogan p{
/* Блочная модель */
	margin: 0;
	padding: 0;
}

.social-block-slogan .social-slogan{
/* Блочная модель */
	display: block;
	width: 760px;
	min-height: 115px;
	padding-top: 74px;
/* Типографика */
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	letter-spacing: 0.1px;
}

.social-block-slogan .social-slogan-description{
/* Блочная модель */
	display: block;
	width: 760px;
	min-height: 105px;
	padding-top: 4px;
/* Типографика */
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #444444;
}

.map{
/* Блочная модель */
	width: 100%;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-height: 416px;
	margin: 0 auto;
/* Оформление */
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.contact{
/* Позиционирование */
	position: relative;
/* Блочная модель */
	width: 320px;
	min-height: 309px;	
	padding: 50px 45px 48px 50px;
/* Оформление */
	background-color: #ffffff;
}

.map .container{
/* Блочная модель */
	padding-top: 53px;
	padding-bottom: 0px;
}

.contact p{
/* Блочная модель */
	margin: 0;
	padding: 0;
}

.contact-name{
/* Блочная модель */
	display: block;
	padding-bottom: 22px;
/* Типографика */
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;	
}

.contact{
/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #666666;
}

.contact-address{
/* Блочная модель */
	display: block;
	padding: 0px 0px 18px 2px;	 
}

.contact-tel{
/* Блочная модель */
	display: block;
	padding: 0px 0px 37px 2px;
}

.contact-tel a{
	text-decoration: none;
}

.container h1{
/* Блочная модель */
	margin: 0;
}

.background{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 1160px;	
}

.filters{
/* Блочная модель */
	width: 400px;
	min-height: 840px;
}

.catalog-wrapper{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 760px;
}

.catalog-list{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 760px;	
}

.catalog-item{
/*Позиционирование*/
	position: relative;
	margin-bottom: 33px;
/* Блочная модель */
	width: 360px;
	min-height: 615px;
}

.catalog-item:nth-child(5),
.catalog-item:nth-child(6){
/* Блочная модель */
	margin-bottom: 24px;
}

.catalog-item::before{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: -39px;
	left: 0px;
/*Блочная модель*/
    width: 360px;
    height: 40px;
/*Оформление*/
	background-image: url("../img/browser_gray.jpg");
	background-repeat: no-repeat;
 	background-position: 0 0;
 	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.catalog-item:hover::before{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: -39px;
	left: 0px;
/*Блочная модель*/
    width: 360px;
    height: 40px;
/*Оформление*/
	background-image: url("../img/browser_black.jpg");
	background-repeat: no-repeat;
 	background-position: 0 0;
 	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.catalog-item-description h3{
/*Блочная модель*/
	margin: 0;
}

.catalog-item:hover > .catalog-item-description{
/*Блочная модель*/
	display: block;
}

.catalog-item-description{
/*Позиционирование*/
	position: absolute;
	top: 345px;
	left: 0px;
/*Блочная модель*/
	display: none;
    width: 360px;
    height: 230px;
    padding-top: 28px;
/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	color: #666666;
/*Оформление*/
	background-color: #eeeeee;
}

.item-description{
/*Блочная модель*/
	width: 360px;
	height: 80px;
	padding: 15px 76px 0px 76px;	
}

.item-barbershop,
.item-mishka{
/*Блочная модель*/
	padding: 15px 85px 0px 85px;
}

.item-pink,
.item-academy{
/*Блочная модель*/
	padding: 15px 50px 0px 50px;
}

/* Слайдер */

.slider{ 
/* Позиционирование */
	position: relative;
/* Блочная модель */
	width: 1160px; 	
	height: 424px;
	margin: 0 auto;	
	padding-bottom: 0px;
}

.slider input[type=radio] {
/* Позиционирование */
    position:absolute;
/* Оформление */
    opacity:0;
}

.slider-controls{
/* Позиционирование */
	position: absolute;
	bottom: 93px;
	left: 480px;
/* Блочная модель */
	width: 200px;
	height: 20px;
/* Типографика */
	text-align: center;
/* Оформление */
	z-index: 2;
}

.slider-controls label{
/* Блочная модель */	
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 7px;
/* Типографика */
	vertical-align: top;
/* Оформление */
	background: #ffffff;
	border: 9px solid #ffffff;
	border-radius: 50%;
/* Разное */
	cursor:pointer;
}

.slider #btn-1:checked ~ .slider-controls label[for="btn-1"],
.slider #btn-2:checked ~ .slider-controls label[for="btn-2"],
.slider #btn-3:checked ~ .slider-controls label[for="btn-3"]{
/* Оформление */
	background: #c2c2c2;
}

.slider #btn-1:checked ~ .slider-controls label[for="btn-1"]::before {
/* Позиционирование */
	position: absolute;
	content: "";
	top: 5px;
	left: 60px;
/* Блочная модель */
	width: 8px;
	height: 8px;
/* Оформление */
	border: 2px solid #c1c1c1;
	background: #ffffff;
	border-radius: 50%;
}

.slider #btn-2:checked ~ .slider-controls label[for="btn-1"]::before {
/* Позиционирование */
	position: absolute;
	content: "";
	top: 5px;
	left: 96px;
/* Блочная модель */
	width: 8px;
	height: 8px;
/* Оформление */
	border: 2px solid #c1c1c1;
	background: #ffffff;
	border-radius: 50%;
}

.slider #btn-3:checked ~ .slider-controls label[for="btn-1"]::before {
/* Позиционирование */
	position: absolute;
	content: "";
	top: 5px;
	left: 132px;
/* Блочная модель */
	width: 8px;
	height: 8px;
/* Оформление */
	border: 2px solid #c1c1c1;
	background: #ffffff;
	border-radius: 50%;
}

.slide{
/* Позиционирование */
	position: absolute;
	top: 0;
	left: 0;
/* Блочная модель */
	width: 100%;
	height: 100%;
/* Оформление */
	background-color: #eeeeee;
/* Разное */
	overflow: hidden;
}

.slider-text{
/* Блочная модель*/ 
	width: 515px;
	height: 413px;
	padding: 70px 0;
}

.slider-slogan{
/* Блочная модель*/
	padding-bottom: 10px;
/* Типографика */
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
/* Типографика */
	color: #000000;
}

.slider-text p{
/* Блочная модель*/
	padding: 2px 0px 24px 0px; 
/* Типографика */
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.slide:nth-child(1){
/* Позиционирование */
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 10px;
}

.slide:nth-child(2){
/* Позиционирование */
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: 93% 10px;
}

.slide:nth-child(3){
/* Позиционирование */
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: 93% 10px;
}

.slide{
/* Блочная модель */
	display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
/* Блочная модель */
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
/* Блочная модель */
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
/* Блочная модель */
    display: block;
}

/* Фильтры*/

.range-filter{
/* Блочная модель */
	width: 260px;
	min-height: 125px;
	padding: 49px 0px 0px 0px;
}

.range-controls{
/* Позиционирование */
	position: relative;
/* Блочная модель */
	height: 80px;
	margin-bottom: 13px;
	padding: 38px 20px 0px 20px;
/* Оформление */
	background: #eeeeee;
	border-radius: 5px;
}

.range-controls .range-scale{
/* Блочная модель */
	height: 2px;
/* Оформление */
	background: #d7dcde;
}

.range-controls .range-bar{
/* Блочная модель */
	width: 70%;
	height: 2px;
/* Оформление */
	background: #00ca74; 
}

.range-controls .range-toggle{
/* Позиционирование */
	position: absolute;
	top: 30px;
	left: 0px; 
/* Блочная модель */
	width: 5px;
	height: 5px; 
/* Оформление */
	border: 10px solid #ffffff;
	border-radius: 50%;
	background: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	        box-shadow: 0 2px 1px 0 #cfcfcf;
/* Разное */
	cursor: pointer;
}

.range-controls .toggle-min {
/* Позиционирование */
	left: 20px;
}

.toggle-min::after{
/* Позиционирование */
	position: absolute;
	content: "";
	top: -3px;
	left: -3px;
/* Блочная модель */
	width: 2px;
	height: 2px;
/* Оформление */
	border: 2px solid #ababab;
	border-radius: 50%;
}

.range-controls .toggle-max{
/* Позиционирование */
	left: 162px;
}

.toggle-max::after{
/* Позиционирование */
	position: absolute;
	content: "";
	top: -3px;
	left: -3px;
/* Блочная модель */
	width: 2px;
	height: 2px;
/* Оформление */
	border: 2px solid #ababab;
	border-radius: 50%;
}

.price-controls{
/* Типографика */
	font-size: 0;
}

.price-controls label{
/* Блочная модель */
	display: inline-block;
	width: 50%;
/* Типографика */	
	font-size: 22px;
	line-height: 22px;
}

.max-price{
/* Типографика */
	text-align: right;
}

.price-controls input{
/* Блочная модель */
	width: 80px;
	padding: 10px;
	margin-left: 10px;
/* Типографика */
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #353e42;
/* Оформление */
	border-radius: 5px;
	border: none;
	background: #eeeeee;
}

.filters-name{
/* Блочная модель */
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 400px;
	min-height: 840px;
	padding-right: 140px;
}

.filters-name legend{
/* Типографика */
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
/* Оформление */
	text-transform: uppercase;
}

.filters-name .filter-name-price{
/* Типографика */
	letter-spacing: 0.8px;
}

.filter-name-price{
/* Блочная модель*/ 
	display: inline-block;
	width: 400px;
	padding: 54px 0px 0px 0px; 
}

/* Фильтр Сетка*/ 

.filter-name-grid{
/* Блочная модель*/ 
	display: inline-block;
	width: 260px;
	padding: 54px 0px 12px 1px; 
}

.filter-grid{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 400px;
	min-height: 100px;
}

/*Покой*/

.filter-grid-indicator{
/*Позиционирование*/
	position: relative;
	padding-left: 37px;
/* Типографика */
	width: 400px;
	height: 26px;
	color: #283136;	
/* Разное */
	cursor: pointer;
}

.filter-grid label{
/* Блочная модель */
	padding: 0px 0px 16px 0px;
}

.filter-grid label:last-child{
/* Блочная модель */
	padding: 0px;
}

.filter-grid input[type="radio"] + .filter-grid-indicator::before{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: -2px;
	left: 0px;
/*Блочная модель*/
    width: 26px;
    height: 26px;
/*Оформление*/
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
 	background-position: 0 0;
 	opacity: 0.4;
}

.filter-grid input[type="radio"]:checked + .filter-grid-indicator::before{
/*Оформление*/
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
 	background-position: 0 0;
 	opacity: 0.4;
}

/*Наведение*/

.filter-grid .filter-grid-indicator:hover{
/* Оформление */
	color: #000000;	
}

.filter-grid input[type="radio"]:hover + .filter-grid-indicator::before,
.filter-grid input[type="radio"]:focus + .filter-grid-indicator::before{
/* Оформление */
	opacity: 1;	
}

/*Заблокирован*/

.filter-grid input[type="radio"]:disabled + .filter-grid-indicator,
.filter-grid input[type="radio"]:disabled + .filter-grid-indicator::before{
/* Оформление */
	opacity: 0.1;	
}

/* Фильтр Особенности*/ 

.filter-name-especially{
/* Блочная модель*/ 
	display: inline-block;
	width: 400px;
	padding: 44px 0px 14px 1px;
}

.filter-especially{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 400px;
	min-height: 180px;
	padding: 0px 0px 30px 0px;
}

/*Покой*/

.filter-especially-indicator{
/*Позиционирование*/
	position: relative;
	padding-left: 37px;
/* Блочная модель */
	width: 400px;
	height: 26px;
/* Типографика */
	color: #283136;	
/* Разное */
	cursor: pointer;
}

.filter-especially label{
/* Блочная модель */
	padding: 0px 0px 16px 0px;
}

.filter-especially input[type="checkbox"] + .filter-especially-indicator::before{
/*Позиционирование*/
	content: "";
	position: absolute;
	top: -2px;
	left: 0px;
/*Блочная модель*/
    width: 26px;
    height: 26px;
/*Оформление*/
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
 	background-position: 0 0;
 	opacity: 0.4;
}

.filter-especially input[type="checkbox"]:checked + .filter-especially-indicator::before{
/*Оформление*/
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
 	background-position: 0 0;
 	opacity: 0.4;
}

/*Наведение*/

.filter-especially .filter-especially-indicator:hover{
/* Типографика */
	color: #000000;	
}

.filter-especially input[type="checkbox"]:hover + .filter-especially-indicator::before,
.filter-especially input[type="checkbox"]:focus + .filter-especially-indicator::before{
/*Оформление*/
	opacity: 1;	
}

/*Заблокирован*/

.filter-especially[type="checkbox"]:disabled + .filter-especially-indicator,
.filter-especiallyinput[type="checkbox"]:disabled + .filter-especially-indicator::before{
/*Оформление*/
	opacity: 0.1;	
}

.sorting-wrapper{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	min-height: 135px;	
}

.sorting{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 625px;
	padding-left: 267px;
}

.sorting-wrapper p{
/* Блочная модель */
	margin: 0;
}

.sorting li{
/* Блочная модель */
	display: inline-block;
	min-width: 10px; 
}

.sorting-type{
/* Блочная модель */
	margin-left: 26px;
}

.sorting-name{
/* Блочная модель */
	margin-left: 25px;
}

.sorting-more{
/* Блочная модель */
	margin-left: 46px;
}

.sorting-less{
/* Блочная модель */
	margin-left: 17px;
}

.sorting-caption{
/* Блочная модель */
	display: block;
	margin-bottom: 30px;
/* Типографика */
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.sorting-item{
/* Типографика */
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color:#231f20;
	text-transform: uppercase;
/* Оформление */
	opacity: 0.3;
}

.sorting-item:hover,
.sorting-item:focus{
/* Оформление */
	opacity: 0.6;
}

.sorting-item:active,
.sorting-item-current{
/* Оформление */
	opacity: 1;
}

/* Каталог */

.catalog{
/* Блочная модель */
	width: 760px;
	padding-top: 37px; 
}

/* Пагинатор */

.paginator-list{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	min-width: 760px;
	min-height: 50px;
	padding-bottom: 60px;
/* Типографика */
	font-size: 0;
}

.paginator-item{
/* Блочная модель */
	min-width: 50px;
}

.paginator-list a,
.paginator-list span{
/* Блочная модель */
	display: inline-block;
	min-width: 50px;
	height: 50px;
	padding: 17px 10px;
	margin-right: 10px;
/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	vertical-align: middle;
	text-align: center;
	color: #000000;
/* Оформление */
	background: #eeeeee;
	border-radius: 4px;
}

.paginator-item{
/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
/* Оформление */
	background-color: #eeeeee; 
}

.paginator-item:hover,
.paginator-item:focus{
/* Оформление */
	background-color:#dfdfdf; 
}

.paginator-item:active{
/* Типографика */	
	color: rgba(149,149,149,0.3);
/* Оформление */
	background-color:#d5d5d5;
	-webkit-box-shadow: inset 0 3px 0 0 #b5b5b5;
	        box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.paginator-item-text:active{
/* Оформление */
	opacity: 0.3;
}

.paginator-list .pagination-item-current{
/* Блочная модель */
	border: 3px solid #dbdbdb;
	padding-top: 15px;
/* Оформление */
	background: #ffffff;
}

.paginator-item:last-child{
/* Блочная модель */
	padding: 16px 80px;
}

/* Модальное окно */

.modal{
/* Позиционирование */
	display: none;
	position: fixed;
	background-position: 0 0;
/* Оформление */
	background-color: #ffffff;
/* Разное */
	z-index: 3;
}

.modal-contact{
/* Позиционирование */
	bottom: 20px;
	left: 50%;
	margin-left: -450px;
/* Блочная модель */
	width: 960px;
	min-height: 590px;
/* Оформление */
	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
	        box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-form .modal-write-us{
/* Позиционирование */
	position: relative;
/* Блочная модель */
	width: 850px;
	padding: 0px 30px 0px 98px;
/* Типографика */
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.modal-close{
/* Блочная модель */
	width: 21px;
	min-height: 21px;
	margin: 10px 89px 0px 0px;
/* Оформление */
	opacity: 0.3;
/* Разное */
	cursor: pointer;
}

.modal-close:hover{
/* Оформление */
	opacity: 1;
}

.modal-close:active{
/* Оформление */
	opacity: 0.1;
}

.modal-form{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 960px;
	padding: 67px 0px 0px 0px;
}

.modal-contact .modal-form p{
/* Блочная модель */
	margin: 0;
}

.modal-user{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 960px;
	padding: 0px 0px 0px 100px;
}

.user-name{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 360px;
	margin-right: 40px;
}

.user-name label{
/* Блочная модель */
	width: 360px;
	padding: 41px 0px 10px 0px;
/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.user-name-input{
/* Блочная модель */
	width: 360px;
}

.user-email{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 360px;
}

.user-email label{
/* Блочная модель */
	width: 360px;
	padding: 41px 0px 10px 0px;
/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.user-email-input{
/* Блочная модель */
	width: 360px;
}

.user-letter{
/* Блочная модель */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 760px;
}

.user-letter label{
/* Блочная модель */
	width: 760px;
	padding: 33px 0px 11px 0px;
/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	letter-spacing: 0.1px;
}

.user-letter-input{
/* Блочная модель */
	width: 760px;
}

/* Покой */

.user-name input[type="text"],
.user-email input[type="email"],
.user-letter textarea {
/* Типографика */
	font-size: 16px;
	line-height: 18px;
 	font-weight: 400;
	color: #a1a1a1;
/* Оформление */
 	border-radius: 2px solid #d7dcde;
 	border: 2px solid #d7dcde;
}

.user-name input[type="text"]{
/* Типографика */
	letter-spacing: 0.3px;
}

.user-email input[type="email"]{
/* Типографика */
	letter-spacing: 0.5px;
}

.user-letter textarea{
/* Типографика */
	letter-spacing: 0.3px;
	resize: none;
}

/* Наведение рамка */

.user-name input:hover,
.user-email input:hover,
.user-letter textarea:hover{
/* Оформление */
	border: 2px solid #b4b9bb;
} 

/* Фокус рамка */
.user-name input:focus,
.user-email input:focus,
.user-letter textarea:focus{
/* Оформление */
	border: 2px solid #000000;
	outline: none;
}

/* Фокус текст */
.user-name input[type="text"]:focus,
.user-email input[type="email"]:focus,
.user-letter textarea:focus {
/* Типографика */
	color: #444444;
}

/* Невалидное значение рамка */
.user-name input:invalid,
.user-email input:invalid,
.user-letter textarea:invalid{
/* Типографика */
	color: #e74246;
/* Оформление */
	border: 2px solid #e74246;
} 

/* Невалидное значение текст */
.user-name input[type="text"]:invalid,
.user-email input[type="email"]:invalid,
.user-letter textarea:invalid{
/* Типографика */
	color: #e74246;
/* Оформление */
	border: 2px solid #e74246;
} 

.user-name-input{
/* Блочная модель */
	padding: 13px 10px 15px 14px;	
}

.user-email-input{
/* Блочная модель */
	padding: 13px 10px 15px 14px;	
}

.user-letter-input{
/* Блочная модель */	
	padding: 9px 10px 10px 12px;	
	min-height: 117px;
}

.modal-close-btn{
/* Блочная модель */	
	min-height: 50px;
	padding: 16px 82px;
	margin: 47px 600px 78px 100px;
/* Оформление */
	background-color: #fb565a;
	border: none;
}

.modal-close-btn:hover,
.modal-close-btn:focus{
/* Оформление */
	background-color: #e74246;
	outline: none;
	border: none;
/* Разное */
	cursor: pointer;
}

.modal-close-btn:active{
/* Типографика */
	color: rgba(255,255,255,0.3);
/* Оформление */
	background-color: #d7373b;	
	-webkit-box-shadow: inset 0 3px 0 0 #c13135;	
	        box-shadow: inset 0 3px 0 0 #c13135;
	outline: none;
	border: none;
}

/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */